<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
        <h2>Index</h2>
        <div>
            <h1>This is  home of view </h1>
            <a href="~/Form/DisplayForm"> click here to go to form</a>
            <br />
            <a href="~/About_us/DisplayAbout"> click here to go to about us </a>
            <br />
            <a href="~/Contact/DisplayContact"> click here to go to Contact</a>
        </div>
</body>
</html>
